// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #f7b42c;
$color-cream: #f0e5d8;
$color-grey: #121212;
$color-red: #fc575e;
$header-gradient: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;